<!--<div class="main" style="height: 100vh;" >-->
<thy-layout style="height: 100vh">
  <thy-header thySize="sm" style="background-color:#292960">
    <ng-template #headerTitle></ng-template>
    <ng-template #headerContent>
      <thy-nav thyType="thirdly" thyHorizontal="start">
        <a class="font-size-lg text-white">
          <thy-icon thyIconName="external-user">
          </thy-icon>
          GitlabToGithub</a>
      </thy-nav>
    </ng-template>
  </thy-header>
  <thy-content>

    <div *ngIf="component === 'index'" >
      <thy-content-section>
        <div class="mt-6 bg-bright">
          <div>
            <button class="ml-4" thyButton="success" (click)="component = 'add'">
              <thy-icon thyIconName="plus"></thy-icon>
              新建项目配置
            </button>
          </div>

        </div>
      </thy-content-section>
      <div class="mt-2 d-flex justify-content-between" >
        <table class="table table-striped mt-8 ">
          <thead>
          <tr class="table-primary flex-row-reverse">
            <th>GitlabUrl</th>
            <th>GithubToken</th>
            <th>Secret</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <thy-empty *ngIf="pageData.content?.length === 0" thyMessage="数据为空, 请添加" [thyTopAuto]="true" class="empty-container bg-content"></thy-empty>

          <tr *ngFor="let setting of pageData.content ; index as i" height="100px">
            <td>{{setting.gitlabUrl}}</td>
            <td>{{setting.token}}</td>
            <td>{{setting.secret}}</td>


            <td>
              <button thyButton="primary" class="mr-2 " [thySize]="'sm'" (click)="onEdit(setting.id)">
                <thy-icon thyIconName="edit"></thy-icon>
                编辑
              </button>
              <button thyButton="danger" class="mr-2 " [thySize]="'sm'"
                      (click)="onDelete(setting)">
                <thy-icon thyIconName="trash"></thy-icon>
                删除
              </button>
            </td>
          </tr>
        </table>

      </div>
      <thy-pagination
        *ngIf="pageData.content?.length !== 0"
                      [(thyPageIndex)]="pageData.number"
                      [thyPageSize]="pageData.size"
                      [thyTotal]="pageData.totalElements"
                      [thyShowQuickJumper]="false"
                      [thyShowSizeChanger]="true"
                      [thyPageSizeOptions]="[5, 10]"
                      (thyPageSizeChanged)="onSizeChange($event)"
                      (thyPageIndexChange)="onPageChange($event)"
      ></thy-pagination>
    </div>
    <app-add *ngIf="component === 'add'" (isFinish)="onAddFinish($event)"></app-add>
    <app-edit *ngIf="component === 'edit'" (isFinish)="onEditFinish($event)" [settingID]="editSettingId"></app-edit>


  </thy-content>

</thy-layout>

<!--      <thy-content-main class="offset-sm-3 font-size-md col-6 bg-content main">-->
<!--        <div class="mt-3 " #loginDiv>-->
<!--          <thy-card  thyDivided="true" class="col mt-5 pl-3 pr-3 pt-4 pb-4 bg-white loginBox" [thyBordered] = "true">-->
<!--            <thy-card-content class="col">-->
<!--              <h1 class="text-muted text-center">系统设定</h1>-->
<!--              <form [formGroup]="loginForm"  class="mt-3 form-group">-->
<!--                <label class="text-muted">Github机器人Token</label>-->

<!--                <input thyInput name="username" [formControlName]="key.username" placeholder="用户名">-->

<!--                <label class="text-muted mt-2">Secret</label>-->

<!--                <input thyInput type="password" name="password" [formControlName]="key.password"-->
<!--                       placeholder="密码">-->

<!--                <label class="text-muted mt-2">Gitlab地址</label>-->

<!--                <input thyInput type="text" name="gitlab" [formControlName]="key.password"-->
<!--                       placeholder="请输入Gitlab地址，如：http://gitlab.mengyunzhi.com:0000">-->
<!--                <ng-template [ngIf]="errorInfo" class="text-center">-->
<!--                  <hr>-->
<!--                  <small class="text-danger">{{ errorInfo }}</small>-->
<!--                </ng-template>-->
<!--                <div>-->
<!--                  <button class="mr-2 mt-8" [thyButton]="'primary'" [disabled]="loginForm.invalid" (click)="login()" thyLoadingText="Login">-->
<!--                    保存-->
<!--                  </button>-->
<!--                </div>-->
<!--              </form>-->
<!--            </thy-card-content>-->
<!--          </thy-card>-->
<!--        </div>-->
<!--      </thy-content-main>-->
<!--&lt;!&ndash;      <footer class="navbar-static-bottom text-center" >&ndash;&gt;-->
<!--&lt;!&ndash;          {{year}}&ndash;&gt;-->
<!--&lt;!&ndash;        版权所有 © 河北工业大学梦云智 &nbsp;技术支持&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="javascript:" class="link-major" (click)="info()">&ndash;&gt;-->
<!--&lt;!&ndash;          河北工业大学梦云智&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;      </footer>&ndash;&gt;-->
<!--    </thy-content>-->
<!--  </thy-layout>-->
<!--</div>-->
<!--面包屑导航-->


